

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  display: none;
}

.content {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  text-align: center;
  background-color: #ffffff;
  margin: auto;

  box-shadow: 3.0616169978683826e-16px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.main-navigation li {
  padding-top: 9px;
  padding-bottom: 9px;
  width:20%;
}

.menu-item-left {
  text-align: left;
}

.menu-item-right {
  text-align: right;
}

.menu-second-item {
  margin-right: 12%;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #000000;
  padding: 5px 6%;
  margin: 0;

  background-color: #ffffff;
}


.logo {
  position: absolute;
  margin-left:-140px;
  top: -1px;
  transform: translateX(50%);
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-menu-item a {
  color: #766357;
}

.start-screen {
  min-width: 768px;
  width: 100%;
  min-height: 564px;
  background-image:
  url("../img/intro-mask.svg"),
  url("../img/intro-welcome.svg"),
  url("../img/background-photo.jpg")
  ;
  background-position:
  bottom center,
  50% 62%,
  top center;
  background-repeat: no-repeat;
  background-size:
  100%,
  459px 353px,
  cover;
}

.city-section {
  min-height: 256px;
  width: 23%;
}

.devil-bridge-section {
  min-height: 256px;
  width: 23%;
  position: right;
}


.features-title h2 {
  font-size: 21px;
  line-height: 26px;

  max-width: 440px;
  margin: 60px auto 28px;
}

.features-title p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

  max-width: 489px;
  margin: 10px auto 49px;
}

.features {
  display: flex;
  flex-direction: row-reverse;

}

.features:nth-child(2) {
  display: flex;
  flex-direction: row;

}

.city-illustration {
  background: url("../img/city.jpg") 100% 0 no-repeat;
  background-position: right;
  background-size: auto;
  background-color: #81b3d2;
}

.bridge-illustration {
  background: url("../img/devil-bridge.jpg") 100% 0 no-repeat;
  background-position: left;
  background-size: auto;
  background-color: #81b3d2;
}



.tips {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-content: flex-start;

  min-height: 330px;
}

.tip {
  position: relative;
  padding-top: 145px;
  padding-bottom: auto;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 273px;
}

.house h3:before,
.food h3:before,
.gifts h3:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  bottom: 60%;
  background-repeat: no-repeat;
}

.house h3:before {
  background-image: url("../img/icon-1.svg");
}

.food h3:before {
  background-image: url("../img/icon-3.svg");
  margin-left: -5%;
}

.gifts h3:before {
  background-image: url("../img/icon-2.svg");
  width: 76px;
  height: 76px;
  margin-left: 5%;
}


.header-filter {
  width: 100%;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forms {
    padding-left: 6%;
  padding-right: 6%;
}

.filter-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.first-second-columns {
  display: flex;
  text-align: left;
  flex-grow: 1;
  justify-content: flex-start;
}

.filter-third-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  text-align: left;
  justify-content: flex-start;

}

.first-column {
  position: relative;
  left: -2.5%;
}

.second-column {
  margin-left: 16%;
}

.filter-form legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-form ul {
  list-style: none;

}

.filter-form fieldset {
  border: none;
}

.first-column,
.second-column {
  position: relative;
}

.forms legend {
  display: block;
  margin-top: 49px;
  margin-bottom: 5px;
  padding-top: 28px;
}

.checkbox-filter + label {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.checkbox-filter + label:before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
  background-color: transparent;
  left: 15px;
}

.checkbox-filter:checked + label:before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 27px;
  background-color: transparent;
  background-position: 0 0;
}



.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;


  margin-right: 2%;
}

.filter {
  display: flex;
  text-align: left;
  padding: 32px 6% 29px 6%;
}


.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

.sorted-items-all {
  display: flex;
  width: 100%;

}

.sorted-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  color: black;
  font-size: 10.5px;
  line-height: 17.5px;
  font-weight: 400;
}

.sorted-item-arrows {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
}

.arrow-up,
.arrow-down {
   fill: #cacaca;
}

.arrow-active {
  fill: #81b3d2;
  margin-left: 11px;
}

.sorted-items a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dotted;
}

.sorted-items a:hover {
  color: #81b3d2;
}

.sorted-items a:active {
  color: #000000;
  text-decoration: none;
}

.sorted-items .active {
  color: #81b3d2;
  text-decoration: none;
}

.hotel-title {
  color: #000000;
  margin: 0px;
  padding: 0px;
  transform: translateY(-3px);
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-first-section {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.catalog-second-section {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.catalog-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 29px 6% 15px 6%;
  border-top: 1px solid #e5e5e5;

}

.hotel-image {
  width: 135px;
  height: 90px;
  align-self: flex-start;
  justify-content: center;
  padding-right: 30px;
}

.hotel-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}


.hotel-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  height: 90px;
}

.hotel-price {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
}


.catalog-item h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0px;
}

.type, .price {
  display: inline-block;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price {
  display: inline-block;
  position: relative;
  margin-left: 2px;

}

.hotel-buy a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  padding: 5px 17px 5px 17px;
  margin:0;
}


.details {
  background-color: #81b3d2;
  margin: 0px;
  padding: 0px;
}

.reserve {
  background-color: #766357;
  margin-right: 0px;
  padding-left: 0px;
  border-left: 2px solid white;
}

.details:hover {
  background-color: #669ec0;
}

.reserve:hover {
  background-color: #604e43;
}

.details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rate {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  margin: 0px;
  padding: 0px;
}

.rating {
  padding: 2px 13px 2px 13px;
  background-color: #f2f2f2;
}

.stars {
  display: inline-block;
  background-image: url("../img/star.svg");
  font-size: 0px;
  vertical-align: middle;
}

.four-stars {
  display: inline-block;
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0px, 48px 0px, 72px 0px;
  font-size: 0px;
  vertical-align: middle;

  width: 90px;
  height: 17px;
}

.three-stars {
  display: inline-block;
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 24px 0px, 48px 0px, 72px 0px;
  font-size: 0px;
  vertical-align: middle;

  width: 90px;
  height: 17px;
}

.two-stars {
  display: inline-block;
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 48px 0px, 72px 0px;
  font-size: 0px;
  vertical-align: middle;

  width: 90px;
  height: 17px;
}


.feature h3,
.tip h3 {
  font-size: 21px;
  line-height: 21px;
  max-width: 155px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature h3 {
  margin-top: 50px;
}

.feature p,
.tip p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  max-width: 303px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature p {
    margin-top: 20px;
}

.features-list {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;

  background-color: #eeeeee;
}

.feature {
}

.feature-with-illustration {
  background-color: #81b3d2;
  color: white;
  padding-right: 5%;
  padding-left: 5%;
}

.feature-with-illustration p {
  color: white;
}

.feature-item {
  min-height: 256px;
  max-width: 261px;
  padding-right: 5%;
  padding-left: 5%;
}


.interesting {
  background-color: white;
  min-height: 240px;
}

.interesting-text {
  margin-top: 50px;
  margin-bottom: 45px;
}

.booking h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
}

.booking p {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.activate-booking-button {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  bottom: 0px;

  width: 568px;
  height: 86px;
  background-color: #766357;
}

.activate-booking-button:hover {
  background-color: #604e43;
  }

.activate-booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  }

.booking-map {
display: flex;
justify-content: center;
background-image: url("../img/map.png");
padding-bottom: 198px;
text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 55px;
  background-color: white;
  text-align: center;
  background-position: top center;
  width: 460px;
   box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.input-item {
  margin-bottom: 30px;
}

.amount {
  display: flex;
  margin-bottom: 54px;
  justify-content: flex-start;
  position: relative;
}

.adult-amount input,
.children-amount input  {
  width: 90px;
  height: 32px;
  padding-left: 13px;
  margin-left: 41px;
  text-align: center;
}

.children-amount input {
  margin-left: 27px;
}

.children-amount {
  margin-left: 58px;
  position: relative;
}

.adult-amount {
  position: relative;
}

.input-date,
.adult-number,
.children-number  {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.input-date:hover,
.adult-number:hover,
.children-number:hover {
  background-color: #ebebeb;
}

.input-date:focus,
.adult-number:focus,
.children-number:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.input-item {
  position: relative;
}

.input-item input {
min-width: 325px;
height: 32px;
padding-left: 13px;
margin-left: 21px;
}

.calendar-button {
  position: absolute;
  right: 3%;
  top: 8px;
  background-color: transparent;
}

.calendar-button {
  border: none;
  fill: #cacaca;
  outline: none;
}

.calendar-button:hover {
  border: none;
  fill: black;
}

.calendar-button:active {
  border: none;
  fill: #81b3d2;
}

.button-plus,
.button-minus {
  position: absolute;
  font-size: 14px;
  line-height: 26px;
  height: 32px;

  background-color: transparent;
  border: none;
  color: #a9a9a9;
  font-weight: bold;
}

.button-plus {
  top:4px;
  right: 0px;
  outline: none;
}

.button-minus {
  top:4px;
  right: 89px;
  outline: none;
}

.button-plus:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 15px;
  right: 8px;
  background-color: #a9a9a9;
}

.button-plus:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  top: 11px;
  right: 12px;
  background-color: #a9a9a9;
}

.button-plus:hover:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 15px;
  right: 8px;
  background-color: black;
}


.button-plus:hover:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  top: 11px;
  right: 12px;
  background-color: black;
}

.button-plus:active:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 15px;
  right: 8px;
  background-color: #81b3d2;
}


.button-plus:active:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  top: 11px;
  right: 12px;
  background-color: #81b3d2;
}


.button-minus:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 15px;
  left: 8px;
  background-color: #a9a9a9;
}

.button-minus:hover:after {
  background-color: black;
}

.button-minus:active:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 11px;
  height: 3px;
  background-color: #81b3d2;
}

.button-plus: hover,
.button-minus: hover {
  color: #000000;
}

.button-plus: active,
.button-minus: active {
  color: #81b3d2;
}

.search-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.search-hotel:hover {
  background-color: #669ec0;
}

.search-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 120px;
}

.footer-index {
 margin-top: -120px;
}

.catalog-footer {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.tag {
  font-size: 21px;
  line-height: 26px;
  transform: translateX(7%);
}

.footer-social {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: 3px;
}

.footer-social li {
  margin-right: 6px;
}

.social-button {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-position: center;
  font-size: 3px;
  margin-top: 5px;
}


.social-button:hover {
  background-color: #669ec0;
}

.social-button:active .twitter,
.social-button:active .facebook,
.social-button:active .youtube {
   opacity: 0.3;
}

.social-button:active{
  background-color: #5496bd;
 }

.twitter {
  position: absolute;
  fill: white;
  left: 15px;
  top: 15px;

}

.facebook {
  position: absolute;
  fill: white;
  left: 16px;
  top: 12px;
}

.youtube {
  position: absolute;
  fill: white;
  left: 12px;
  top: 15px;

}

.footer-copyright {
  font-weight: 400;
  vertical-align: middle;
}

.text-copyright {
  vertical-align: middle;
}

.logo-htmlacademy {
  fill: #231f20;
  vertical-align: middle;
}

.logo-htmlacademy:hover {
  fill: #81b3d2;
}

.logo-htmlacademy:active {
  fill: #bdbbbc;
}

.main-footer {
  opacity: 0.9;
}

.filter-range {
  padding-top: 28px;
  max-width: 320px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  font-weight: normal;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
   width: 100%;

  margin-bottom: 32px;
}

.range-controls .scale {
  display: flex;
  width: 100%;
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 29px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
